$default-primary: #00B26E;
$default-on-primary: #000000;

$default-secondary: #E6E6E6;
$default-on-secondary: #000000;
$default-secondary-on-widget: #535353;
$default-secondary-dark: #262626;
$default-on-secondary-dark: #FFFFFF;
$default-secondary-on-widget-dark: #FAFAFA;

$default-surface: #F7F7F7;
$default-on-surface: #000000;
$default-surface-dark: #212121;
$default-on-surface-dark: #FFFFFF;

$default-background: #FFFFFF;
$default-on-background: $default-on-surface;
$default-background-dark: #121212;
$default-on-background-dark: $default-on-surface-dark;

$default-error: #f03118;

$default-font: (Manrope, sans-serif);